{% load women_techmakers_utils wagtailcore_tags wagtailimages_tags static %}
{% if carousel %}
<div style="">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slide in carousel %}
      <li data-target="#carouselIndicators" data-slide-to="{{counter0}}"
          class=" {% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for slide in carousel %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        {% image slide.image original class="d-block w-100 " %}
      </div>
      {% endfor %}
    </div>
    <!--<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">-->
      <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">-->
      <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
  </div>
</div>
{% endif %}
