<ul class="list-inline hide-for-print hide-for-small-only fa-lg">
  <li class="social-icon" style="margin-bottom:2em">
    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
    <i class="fa fa-facebook-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank">
    <i class="fa fa-twitter-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank" title="Share on Google+">
    <i class="fa fa-google-plus-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}" target="_blank" title="Share on LinkedIn">
    <i class="fa fa-linkedin-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" title="Pin it">
    <i class="fa fa-pinterest-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="mailto:?subject={{self.title}}&body={{ request.build_absolute_uri }}" target="_blank" title="Email">
    <i class="fa fa-envelope-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
  <li class="social-icon" style="margin-bottom:2em">
    <a href="javascript:window.print()" target="_blank" title="Print">
    <i class="fa fa-print-square text-white" aria-hidden="true"></i>
    <span class="social-icon-text"></span>
    </a>
  </li>
</ul>
