{% load gravatar wagtailadmin_tags %}
{% load i18n %}
<nav class="nav-main">
    <ul>
        {{ menu_html }}

        <li class="footer" id="footer">
            <div class="account" id="account-settings" title="{% trans 'Edit your account' %}">
                <span class="avatar square avatar-on-dark">
                    <img src="{% gravatar_url request.user.email 25 %}" />
                </span>
                <em class="icon icon-arrow-up-after">{{ request.user.first_name|default:request.user.get_username }}</em>
            </div>

            <ul class="footer-submenu">
                <li><a href="{% url 'wagtailadmin_account' %}" class="icon icon-user">{% trans "Account settings" %}</a></li>
                <li><a href="{% url 'wagtailadmin_logout' %}" class="icon icon-logout">{% trans "Log out" %}</a></li>
            </ul>

        </li>
    </ul>
</nav>
