{% extends "events/event_base.html" %}
{% load women_techmakers_utils wagtailcore_tags wagtailimages_tags static %}

{% block header %}
<div class="page-header header-filter" data-parallax="true"
     {% image self.feed_image original as feed_image %}
     style="background-image: url({% if feed_image %}{{ feed_image.url }}{% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">{{ self.title }}</h1>
        {{ self.body|richtext|truncatewords_html:35 }}
        </h4>
        <br>
        {% if self.signup_link %}
        <a href="{{ self.signup_link }}" target="_blank"
           class="btn btn-primary btn-raised btn-lg">
          register <i class="fa fa-user-plus fa-xs"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mr-4">
    {% include "utils/includes/social_share.html" %}
  </div>
</div>
{% endblock header %}

{% block event_content %}
<div class="">
  <div class="section" style="padding-top:0px">
    <div class="container-fluid banner-thread bg-light">
      <div class="row no-gutter">
        <div class="col-sm-3">
          <h3 class="text-center text-uppercase">Featured Contents</h3>
        </div>
        <div class="col-sm-9 border-left text-center">
          <h2 class="title text-justified text-capitalize text-muted">
            <ul class="list-inline ml-auto">
              <li class="list-inline-item"> AndroidThings</li>
              <li class="list-inline-item"> Iot</li>
              <li class="list-inline-item"> Web</li>
              <li class="list-inline-item"> Speechless</li>
            </ul>
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-group justify-content-center">
        <div class="card card-nav-tabs">
          <div class="card-header card-header-primary text-uppercase">
            event brief
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ self.theme|richtext }}</h4>
            <p class="card-text">
              {% include "events/includes/events_body.html" with body=self.body only %}
            </p>
          </div>
        </div>
        <div class="card card-nav-tabs">
          <div class="card-header card-header-primary text-uppercase">
            event details
          </div>
          <div class="card-body">
            <p class="card-text">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                {{ self.date_from|date:"j F Y" }}
                {% if self.date_to %}
                - {{ self.date_to|date:"j F Y" }}
                {% endif %}
                {% if self.time_from %}
                , {{ self.time_from|time_display }}
                {% endif %}
                {% if self.time_to %}
                - {{ self.time_to|time_display }}.
                {% endif %}
              </li>
              <li class="list-group-item">
                {{ self.location }}
              </li>
              <li class="list-group-item">
                {{ self.cost|safe }}
              </li>
              <li class="list-group-item">
                {{ self.get_audience_display }}
              </li>
            </ul>
            </p>
            <a href="{# self.url }}?format=ical#}" class="card-link" id="calendar">
              <i class="fa fa-calendar fa-2x"></i>
            </a>
            <a href="#" class="card-link pull-right">
              <i class="fa fa-user-plus fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section">
    <div class="container-fluid banner-thread">
      <div class="row no-gutter">
        <div class="col-sm-3">
          <h3 class="text-center text-uppercase">iwd phc'17</h3>
        </div>
        <div class="col-sm-9 border-left text-center">
          <h2 class="title text-justified text-capitalize text-muted">
            archived gallery
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-img-top">
          {% include "utils/includes/carousel.html" with carousel=self.carousel_items.all only %}
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container-fluid banner-thread">
      <div class="row no-gutter">
        <div class="col-sm-3">
          <h3 class="text-center text-uppercase">
            guest speakers
          </h3>
        </div>
        <div class="col-sm-9 border-left text-center">
          <h2 class="title text-justified text-capitalize text-muted">
            accomplished professional
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-deck justify-content-center">
        {% with self.speakers.all as speakers %}
          {% if speakers %}
            {% for speaker in speakers %}
              <div class="col-4">
                <div class="card">
                  {% if speaker.image %}
                    {% image speaker.image original as speaker_image %}
                    <img class="card-img-top" src="{{ speaker_image.url }}"
                         alt="Card image cap">
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-title text-center">{{ speaker.name_display }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted text-center">
                      {{ speaker.title}}
                    </h6>
                  </div>
                  <div class="card-footer, bg-light">
                    <p class="text-center text-muted">
                      {{ speaker.skill_set }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
